<!-- This website uses cookies to manage authentication, navigation, and other functions. By using our website, you agree that we can place these types of cookies on your device.

View Privacy Policy
View e-Privacy Directive Documents
View GDPR Documents -->
<!-- https://www.termsfeed.com/blog/gdpr-notice/ -->
<!-- https://www.rockettstgeorge.co.uk/cookie-policy-gdpr -->
<!-- https://www.iubenda.com/en/help/5525-cookies-and-eu-data-law-gdpr-requirements -->
<!-- https://www.richeyweb.com/documentation/136-how-does-the-eu-e-privacy-directive-extension-compare-to-its-competitors -->

<h2 class="centered-heading">Permission to Take Part in a Human Research Study</h2>

<p>In the following study, the application will record your responses and store them on a private server.</p>

<h4>If you understand and agree to the terms of the study, click the "I Agree" button below.</h4>